@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display&family=Playfair:wght@300&family=Poppins&family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair:wght@300&family=Rufina&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
footer {
  width: 1728px;
  height: 599px;
  flex-shrink: 0;
  background: #224F34;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-frame {
  width: 1377px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 80px;
}
footer .footer-frame .footer-item1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 44px;
}
footer .footer-frame .footer-item1 .footer-info1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
}
footer .footer-frame .footer-item1 .footer-info1 p {
  color: #FFF;
  font-family: "Roboto Slab";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
footer .footer-frame .footer-item1 .footer-info1 ul {
  display: flex;
  align-items: center;
  gap: 36px;
}
footer .footer-frame .footer-item1 .footer-info1 ul li {
  list-style: none;
}
footer .footer-frame .footer-item1 .footer-info1 ul li a {
  text-decoration: none;
}
footer .footer-frame .footer-item2 {
  width: 93px;
  height: 228px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
footer .footer-frame .footer-item2 h1 {
  color: #FFF;
  font-family: Roboto Slab;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
footer .footer-frame .footer-item2 li {
  list-style: none;
}
footer .footer-frame .footer-item2 li a {
  text-decoration: none;
  color: #C2EFD4;
  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
footer .footer-frame .footer-item3 {
  width: 487px;
  height: 124px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 38px;
}
footer .footer-frame .footer-item3 h1 {
  color: #FFF;
  font-family: "Roboto Slab";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
footer .footer-frame .footer-item3 .footer-info2 {
  width: 487px;
  display: flex;
  gap: 0;
}
footer .footer-frame .footer-item3 .footer-info2 .email {
  width: 372px;
  height: 57px;
  padding-left: 20px;
  flex-shrink: 0;
  border-radius: 3px;
  border: 2px solid #A3F3BE;
  color: #FFF;
  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
}
footer .footer-frame .footer-item3 .footer-info2 .email::-moz-placeholder {
  color: #fff;
}
footer .footer-frame .footer-item3 .footer-info2 .email::placeholder {
  color: #fff;
}
footer .footer-frame .footer-item3 .footer-info2 .submit {
  width: 115px;
  height: 57px;
  flex-shrink: 0;
  background: #A3F3BE;
  color: #224F34;
  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  border: none;
}
footer .footer-frame2 {
  width: 1377px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 154px;
}
footer .footer-frame2 ul {
  display: flex;
  align-items: center;
  gap: 50px;
}
footer .footer-frame2 li {
  list-style: none;
}
footer .footer-frame2 li a {
  color: #FFF;
  font-family: " Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  text-decoration: none;
}

@media (max-width: 676px) {
  footer {
    width: 100%;
    height: auto;
  }
  footer .footer-frame {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
    padding-top: 60px;
  }
  footer .footer-frame .footer-item3 {
    width: 350px;
  }
  footer .footer-frame .footer-item3 .footer-info2 {
    width: 350px;
    display: flex;
    gap: 0;
  }
  footer .footer-frame .footer-item3 .footer-info2 .email {
    width: 300px;
    height: 25px;
    padding-left: 10px;
    font-size: 15px;
  }
  footer .footer-frame .footer-item3 .footer-info2 .submit {
    width: 50px;
    height: 25px;
    font-size: 12px;
  }
  footer .footer-frame2 {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 154px;
  }
  footer .footer-frame2 img {
    width: 350px;
  }
  footer .footer-frame2 ul {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  footer .footer-frame2 li {
    list-style: none;
  }
  footer .footer-frame2 li a {
    color: #FFF;
    font-family: " Poppins";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    text-decoration: none;
  }
}/*# sourceMappingURL=footer.css.map */