* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 1728px;
    height: 1117px;
    flex-shrink: 0;
    background: #C2EFD4;
}