@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display&family=Playfair:wght@300&family=Poppins&family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair:wght@300&family=Rufina&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@media (max-width: 676px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header {
    width: 576px;
    height: auto;
  }
  header .nav {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  header .nav img {
    width: 75px;
    height: 20px;
  }
  header .nav ul {
    gap: 15px;
  }
  header .nav ul a {
    font-size: 14px;
  }
  header .nav .nav-sign {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  header .nav .nav-sign img {
    width: 25px;
    height: 25px;
  }
  header .nav .nav-sign button {
    width: 100px;
    height: 25px;
    font-size: 14px;
  }
  header .item1 {
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }
  header .item1 .info1 {
    width: 649px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  header .item1 .info1 h1 {
    width: 549px;
    font-size: 44px;
  }
  header .item1 .info1 p {
    width: 465px;
    font-size: 25px;
  }
  header .item1 .mask {
    width: 500px;
    margin-top: 50px;
  }
  header .item1 .mask .rs3 {
    position: absolute;
    z-index: 1;
    top: 155px;
    right: 0;
  }
  section {
    width: 576px;
    padding-top: 248px;
    border: 1px solid red;
  }
  section .info2 {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 37px;
    margin-bottom: 80px;
    position: absolute;
    top: 65px;
    right: 155px;
  }
  section .info2 h1 {
    font-size: 44px;
  }
  section .info2 p {
    font-size: 15px;
  }
  section .sell1 {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  section .sell-btn {
    display: flex;
    padding: 10px 55px;
    align-items: center;
    gap: 18px;
    border-radius: 3px;
    border: 2px solid #224F34;
    color: #224F34;
    font-family: "Poppins";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: transparent;
    position: absolute;
    top: 2519px;
    left: 185px;
  }
  section .products {
    width: 500px;
    margin-top: 230px;
  }
  section .products h1 {
    font-size: 44px;
  }
  section .products .products-nav {
    gap: 20px;
    margin-top: 50px;
  }
  section .products .products-nav li {
    list-style: none;
  }
  section .products .products-nav li a {
    font-size: 15px;
  }
  section .products .products-sell {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 75px;
  }
  section .offer {
    width: 576px;
    height: auto;
    margin-top: 195px;
    display: flex;
    flex-direction: column-reverse;
  }
  section .offer .rasm3 {
    left: 31px;
  }
  section .offer .offer-info {
    width: 500px;
    height: auto;
    gap: 30px;
  }
  section .offer .offer-info h1 {
    font-size: 44px;
  }
  section .offer .offer-info p {
    font-size: 15px;
    width: 500px;
  }
  section .designer {
    width: 576px;
  }
  section .designer h1 {
    font-size: 44px;
    margin-top: 200px;
  }
  section .designer P {
    font-size: 15px;
    margin-top: 30px;
    text-align: center;
  }
  section .designer .designer-item {
    width: 500px;
    flex-direction: column;
    gap: 100px;
  }
  section .feedback {
    width: 576px;
    margin-top: 200px;
  }
  section .feedback h1 {
    font-size: 44px;
  }
  section .feedback .feedback-item {
    width: 576px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: space-between;
    margin-top: 109px;
  }
  section .feedback .cursor {
    margin-top: 75px;
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 193px;
  }
}/*# sourceMappingURL=mediamain.css.map */