@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display&family=Playfair:wght@300&family=Poppins&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@300&family=Rufina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


@media(max-width: 676px){
    header {
        width: 676px;
        height: auto;
    
        .nav {
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
            img{
                width: 75px;
                height: 20px;
            }
    
            ul {
                gap: 25px;
    
                a {
                    font-size: 14px;

                }
            }
    
            .nav-sign {
                display: flex;
                align-items: center;
                gap: 30px;
                img{
                    width: 25px;
                    height: 25px;
                }
    
                button {
                    height: 25px;
                    font-size: 14px;
                }
            }
    
        }
    
        .item1 {
            width: 100%;
            flex-direction: column;
            justify-content: space-around;
            margin-top: 60px;
            padding-left: 20px;
            padding-right: 20px;
    
            .info1 {
                width: 649px;
                height: 400px;
                display: flex;
                flex-direction: column;
                gap: 25px;
    
    
                h1 {
                    width: 549px;
                    font-size: 44px;
                }
    
                p {
                    width: 465px;
                    font-size: 25px;
                }
    
            }
    
            .mask {
                width: 549px;
                margin-top: 50px;
    
            }
        }
    }
    // header-finish

    section {
        width: 676px;
        padding-top: 248px;
        border: 1px solid red;

    
        .info2 {
            width: 250px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 37px;
            margin-bottom: 80px;
            // border: 1px solid red;
            position: absolute;
            top: 65px;
            right: 255px;
    
            h1 {
                font-size: 44px;
            }
    
            p {
                font-size: 15px;
            }
        }
    
        .sell1 {
            width: 600px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 50px;
    
            // border: 1px solid red;
    
        }
    
        .sell-btn {
            display: flex;
            padding: 10px 55px;
            align-items: center;
            gap: 18px;
            border-radius: 3px;
            border: 2px solid #224F34;
            color: #224F34;
            font-family: 'Poppins';
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            background-color: transparent;
            position: absolute;
            top: 2519px;
            left: 235px;
        }
        // best-sell-finish
    }


}


