@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display&family=Playfair:wght@300&family=Poppins&family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair:wght@300&family=Rufina&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@media (max-width: 676px) {
  header {
    width: 676px;
    height: auto;
  }
  header .nav {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  header .nav img {
    width: 75px;
    height: 20px;
  }
  header .nav ul {
    gap: 25px;
  }
  header .nav ul a {
    font-size: 14px;
  }
  header .nav .nav-sign {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  header .nav .nav-sign img {
    width: 25px;
    height: 25px;
  }
  header .nav .nav-sign button {
    height: 25px;
    font-size: 14px;
  }
  header .item1 {
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }
  header .item1 .info1 {
    width: 649px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  header .item1 .info1 h1 {
    width: 549px;
    font-size: 44px;
  }
  header .item1 .info1 p {
    width: 465px;
    font-size: 25px;
  }
  header .item1 .mask {
    width: 549px;
    margin-top: 50px;
  }
  section {
    width: 1728px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 348px;
    position: relative;
  }
  section .info2 {
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 37px;
    margin-bottom: 80px;
    position: absolute;
    top: 114px;
    right: 485px;
  }
  section .info2 h1 {
    color: #224F34;
    font-family: "Roboto Slab";
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  section .info2 p {
    color: #224F34;
    font-family: "Poppins";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  section .sell1 {
    width: 1377px;
    display: flex;
    justify-content: space-between;
  }
  section .sell1 img {
    border-radius: 3px;
    background: #CADCD0;
    width: 430px;
    height: 566px;
    flex-shrink: 0;
  }
  section .frame2 {
    display: flex;
    flex-direction: column;
    gap: 51px;
  }
  section .frame2 .sell1-info {
    width: 430px;
    height: 74px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section .frame2 .sell1-info h1 {
    color: #373737;
    text-align: center;
    font-family: " Poppins";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  section .frame2 .sell1-info .item3 {
    display: flex;
    align-items: center;
    gap: 39px;
  }
  section .frame2 .sell1-info .item3 p {
    color: #454545;
    font-family: " Poppins";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  section .frame2 .sell1-info .item3 .frame1 {
    width: 67px;
    height: 33px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  section .frame2 .sell1-info .item3 .frame1 p {
    color: #454545;
    font-family: "Poppins";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  section .frame2 .sell1-info .item3 .frame1 img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background-color: transparent;
  }
  section .sell-btn {
    display: flex;
    padding: 16px 55px;
    align-items: center;
    gap: 18px;
    border-radius: 3px;
    border: 2px solid #224F34;
    color: #224F34;
    font-family: "Poppins";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: transparent;
    position: absolute;
    top: 1119px;
    left: 752px;
  }
  section .sell-btn img {
    width: 23px;
    stroke-width: 2px;
    stroke: #224F34;
  }
}/*# sourceMappingURL=mediamain.css.map */