@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display&family=Playfair:wght@300&family=Poppins&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@300&family=Rufina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

section {
    width: 1728px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 348px;
    border: 1px solid blue;
    position: relative;

    .info2 {
        width: 750px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 37px;
        margin-bottom: 80px;
        // border: 1px solid red;
        position: absolute;
        top: 114px;
        right: 485px;

        h1 {
            color: #224F34;
            font-family: 'Roboto Slab';
            font-size: 64px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        p {
            color: #224F34;
            font-family: 'Poppins';
            font-size: 22px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }

    .sell1 {
        width: 1555px;
        display: flex;
        justify-content: space-between;

        // border: 1px solid red;

        img {
            border-radius: 3px;
            background: #CADCD0;
            width: 430px;
            height: 566px;
            flex-shrink: 0;
        }
    }

    .frame2 {
        display: flex;
        flex-direction: column;
        gap: 51px;

        .sell1-info {
            width: 430px;
            height: 74px;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            h1 {
                color: #373737;
                text-align: center;
                font-family: ' Poppins';
                font-size: 22px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }

            .item3 {
                display: flex;
                align-items: center;
                gap: 39px;

                p {
                    color: #454545;
                    font-family: ' Poppins';
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }

                .frame1 {
                    width: 67px;
                    height: 33px;
                    flex-shrink: 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    p {
                        color: #454545;
                        font-family: 'Poppins';
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }

                    img {
                        width: 24px;
                        height: 24px;
                        flex-shrink: 0;
                    }
                }

            }

        }
    }

    button {
        display:flex;
        padding: 16px 55px;
        // flex-direction: column;
        align-items: center;
        gap: 18px;
        border-radius: 3px;
        border: 2px solid #224F34;
        color: #224F34;
        font-family: 'Poppins';
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        background-color: transparent;
        position: absolute;
        top: 1119px;
        left: 752px;

        img {
            width: 23px;
            stroke-width: 2px;
            stroke: #224F34;
        }
    }
}