@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display&family=Playfair:wght@300&family=Poppins&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@300&family=Rufina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

section {
    width: 1728px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 348px;
    // border: 1px solid blue;
    position: relative;

    .best-sell {
        display: flex;
        flex-direction: column;
        align-items: center;

        .info2 {
            width: 750px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 37px;
            margin-bottom: 80px;
            // border: 1px solid red;
            // position: absolute;
            // top: 114px;
            // right: 485px;

            h1 {
                color: #224F34;
                font-family: 'Roboto Slab';
                font-size: 64px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            p {
                color: #224F34;
                font-family: 'Poppins';
                font-size: 22px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }

        .sell1 {
            width: 1377px;
            display: flex;
            justify-content: space-between;

            // border: 1px solid red;

            img {
                border-radius: 3px;
                background: #CADCD0;
                width: 430px;
                height: 566px;
                flex-shrink: 0;
            }
        }

        .frame2 {
            display: flex;
            flex-direction: column;
            gap: 51px;

            .sell1-info {
                width: 430px;
                height: 74px;
                flex-shrink: 0;
                display: flex;
                flex-direction: column;
                align-items: center;

                h1 {
                    color: #373737;
                    text-align: center;
                    font-family: ' Poppins';
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }

                .item3 {
                    display: flex;
                    align-items: center;
                    gap: 39px;

                    p {
                        color: #454545;
                        font-family: ' Poppins';
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }

                    .frame1 {
                        width: 67px;
                        height: 33px;
                        flex-shrink: 0;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        p {
                            color: #454545;
                            font-family: 'Poppins';
                            font-size: 22px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                        }

                        img {
                            width: 24px;
                            height: 24px;
                            flex-shrink: 0;
                            background-color: transparent;
                        }
                    }

                }

            }
        }

        .sell-btn {
            display: flex;
            padding: 16px 55px;
            // flex-direction: column;
            align-items: center;
            gap: 18px;
            border-radius: 3px;
            border: 2px solid #224F34;
            color: #224F34;
            font-family: 'Poppins';
            font-size: 22px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            background-color: transparent;
            margin-top: 150px;
            // position: absolute;
            // top: 1119px;
            // left: 752px;

            img {
                width: 23px;
                stroke-width: 2px;
                stroke: #224F34;
            }
        }
    }



    // products
    .products {
        width: 1377px;
        // height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 330px;
        // border: 1px solid red;

        h1 {
            color: #224F34;
            font-family: 'Roboto Slab';
            font-size: 50px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        .products-nav {
            display: flex;
            align-items: center;
            gap: 100px;
            margin-top: 70px;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    color: #454545;
                    font-family: 'Poppins';
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    text-transform: uppercase;
                    position: relative;
                    transition: 0.5s;
                }

                a::before {
                    content: '';
                    position: absolute;
                    height: 2.5px;
                    bottom: -5px;
                    width: 0;
                    border-radius: 50px;
                    background: #224F34;
                    transition: 0.5s;
                }

                a:hover::before {
                    width: 100%;
                }
            }

        }

        .products-sell {
            width: 100%;
            height: 1060px;
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-template-rows: auto auto;
            margin-top: 83px;

            .frame3 {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 36px;

                .rasm {
                    // background: #EAEBF0;
                    width: 318px;
                    height: 378px;
                    flex-shrink: 0;
                    background: lightgray -0.341px -5px / 100.239% 113.228% no-repeat;
                    box-shadow: 10px 30px 42px 0px rgba(0, 0, 0, 0.15);
                }

                .rasm2 {
                    background-color: #D3E2D7;
                }

                .products-info {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h3 {
                        color: #373737;
                        text-align: center;
                        font-family: 'Poppins';
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                    }

                    .item4 {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 38px;

                        p {
                            color: #454545;
                            font-family: 'Poppins';
                            font-size: 22px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                        }

                        .frame4 {
                            display: flex;
                            align-items: center;
                            gap: 9px;

                            p {
                                color: #454545;
                                font-family: 'Poppins';
                                font-size: 22px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: normal;
                            }

                            img {
                                background-color: transparent;
                            }
                        }
                    }
                }
            }
        }

    }

    // products-finish

    // offer

    .offer {
        width: 1377px;
        height: 596px;
        flex-shrink: 0;
        border-radius: 3px;
        background: #C2EFD4;
        margin-top: 195px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        // border: 1px solid red;

        .rasm3 {
            position: absolute;
            bottom: 41px;
            left: 41px;
        }

        .offer-info {
            width: 589px;
            height: 447px;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            // border: 1px solid red;

            h1 {
                color: #224F34;
                font-family: ' Roboto Slab';
                font-size: 46px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            p {
                color: #224F34;
                font-family: 'Poppins';
                font-size: 22px;
                width: 589px;
                font-style: normal;
                font-weight: 500;
                line-height: 167%;
            }

            .offer-item {
                height: 100px;
                display: flex;
                align-items: center;
                gap: 35px;

                .data {
                    width: 100px;
                    height: 100px;
                    flex-shrink: 0;
                    border-radius: 3px;
                    background: #FFF;
                    box-shadow: 0px 7px 30px 0px rgba(0, 0, 0, 0.05);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 1px;

                    h3 {
                        color: #224F34;
                        font-family: 'Poppins';
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                    }

                    span {
                        color: #224F34;
                        font-family: 'Poppins';
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }
                }
            }

            .offer-btn {
                width: 235px;
                height: 74px;
                flex-shrink: 0;
                border-radius: 3px;
                background: #224F34;
                box-shadow: 0px 7px 30px 0px rgba(0, 0, 0, 0.05);
                color: #FFF;
                font-family: 'Poppins';
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-transform: uppercase;
                border: none;
            }
        }
    }

    // offer-finish

    // designer

    .designer {
        width: 1377px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            color: #224F34;
            font-family: ' Roboto Slab';
            font-size: 50px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-top: 218px;
        }

        P {
            color: #224F34;
            font-family: 'Poppins';
            font-size: 22px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-top: 51px;
        }

        .designer-item {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 72px;

            .designer-info {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 25px;

                img {
                    border-radius: 3px;
                    background: #D3E2D7;
                }

                .designer-frame {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 5px;

                    h3 {
                        color: #373737;
                        text-align: center;
                        font-family: 'Poppins';
                        font-size: 30px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                    }

                    span {
                        width: 420px;
                        color: #373737;
                        text-align: center;
                        font-family: 'Poppins';
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 143%;
                    }
                }
            }
        }
    }

    // designer-finish

    // feedback

    .feedback {
        width: 1377px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 249px;

        h1 {
            color: #224F34;
            font-family: 'Roboto Slab';
            font-size: 50px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: capitalize;
        }

        .feedback-item {
            width: 1377px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 109px;

            .feedback-info {
                width: 434px;
                height: 253px;
                flex-shrink: 0;
                border-radius: 3px;
                background: #FFF;
                box-shadow: 0px 7px 30px 0px rgba(0, 0, 0, 0.05);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-around;
                padding-left: 19px;

                p {
                    color: #224F34;
                    font-family: Arial' Rounded MT' Bold;
                    font-size: 60px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                h3 {
                    color: #224F34;
                    font-family: 'Roboto' Serif;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }

                span {
                    width: 390px;
                    color: #6F6F6F;
                    font-family: 'Poppins';
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
            }

            .feedback-info2 {
                width: 434px;
                height: 253px;
                flex-shrink: 0;
                border-radius: 3px;
                background: #C2EFD4;
                box-shadow: 0px 7px 30px 0px rgba(0, 0, 0, 0.05);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-around;
                padding-left: 19px;

                p {
                    color: #224F34;
                    font-family: Arial' Rounded MT' Bold;
                    font-size: 60px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                h3 {
                    color: #224F34;
                    font-family: 'Roboto' Serif;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }

                span {
                    width: 390px;
                    color: #6F6F6F;
                    font-family: 'Poppins';
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
            }
        }

        .cursor {
            margin-top: 125px;
            display: flex;
            align-items: center;
            gap: 51px;
            margin-bottom: 193px;
        }
    }
}